.control {
  &__title {
    font-size: 1.5rem;
  }

  &__user-btn {
    font-size: 0.8rem !important;
  }
}

@media (max-width: 768px) {
  .control {
    &__title {
      font-size: 1.25rem;
    }

    &__cell {
      font-size: 0.8rem;
    }

    &__user-btn {
      font-size: 0.7rem !important;
    }
  }
}

@media (max-width: 480px) {
  .schedule {
    &__cell {
      font-size: 0.7rem;
    }

    &__user-btn {
      font-size: 0.6rem !important;
    }
  }
}
