.users__input-label {
  cursor: pointer;

  &:hover {
    background-color: rgb(221, 221, 221);
  }
}

.active-user {
  background-color: rgb(244, 213, 213) !important;
  color: red !important;
}

.schedule {
  &__title {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .users {
    &__title {
      font-size: 1.5rem;
    }

    &__cell {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 480px) {
  .schedule {
    &__title {
      font-size: 1.2rem;
    }

    &__cell {
      font-size: 0.7rem;
    }
  }
}
